node_modules
bower_components
pal-assets
dist
notes
exported-assets
exported-sprites
pal-assets/exported-assets
pal-assets/exported-sprites
exported-storygraphs
pal-assets/exported-storygraphs
**/.DS_Store
